@charset "utf-8";



#bodyuser { /*Background color for USER ShopQuik*/
	background-color: #8B5454;
}

#bodyemploy { /*Background color for EMPLOYER ShopQuik*/
	background-color: #7A7A7A;
}

#main-body { /*Styling for main body containers on ShopQuik*/
  padding-top: 70px;
  padding-right: 20px;
  text-align: center;
  font-size: 16px;
}

#employbar { /*Navigation bar color for EMPLOYER ShopQuik*/
  background-color: #8B5454;
  color: black;
  
}

#docbar { /*Navigation bar color for DOCUMENTATION ShopQuik*/
  background-color: #205FFF;
  color: white;
  
}

#docheader { /*Styling for DOCUMENTATION headings*/
	text-align: center;
  
}

#doctext { /*Styling for DOCUMENTATION text*/
	text-align: left;
  
}

#error { /*Styling for error display message on pages Add Job and Update Job*/
	font-size: 30px;
	color: #F00;	
}

#header1 { /*Styling for header <h1>*/
	text-align: center;
	color: white;
}
  

#footerID { /*Styling for footer displayed on each page of ShopQuik*/
	color: black;
	font-style: italic;
  padding-left: 30px;
}

a:link { /* unvisited link */
	color:#8B9965;
	text-decoration:none;
}    
a:visited { /* visited link */
	color:#8B9965;
	text-decoration:none;
} 
a:hover { /* mouse over link */
	color:#FF00FF;
	text-transform:uppercase;
}  
a:active { /* selected link */
	color:#8B9965;
	text-decoration:none;
}  

